In [3]:
import pandas as pd

train = pd.read_csv("train.tsv", sep="\t", index_col=0) # 学習用データ
test = pd.read_csv("test.tsv", sep="\t", index_col=0)   # 評価用データ
sample_submit = pd.read_csv("sample_submit.csv", index_col=0, header=None) # 応募用サンプルファイル

In [5]:
train

     class  left_weight  left_distance  right_weight  right_distance
2        2            2              4             4               3
9        0            2              2             1               3
11       0            2              4             4               1
13       2            3              3             3               5
16       0            3              4             5               2
..     ...          ...            ...           ...             ...
611      2            1              3             5               5
612      0            5              5             4               2
614      0            5              2             1               4
616      0            3              5             1               3
622      0            4              4             1               3

[312 rows x 5 columns]

In [6]:
test

     left_weight  left_distance  right_weight  right_distance
0              4              5             4               3
1              3              2             1               5
3              1              4             5               1
4              5              4             4               4
5              2              2             4               1
..           ...            ...           ...             ...
619            3              4             3               4
620            1              5             3               5
621            1              2             3               1
623            4              5             3               4
624            4              3             3               4

[313 rows x 4 columns]

In [10]:
train_x = train.drop(['class'], axis=1).copy()

In [13]:
train_y = train['class']

In [14]:
from xgboost import XGBClassifier
xgb_model = XGBClassifier(n_estimators=20, random_state=71)

from sklearn.ensemble import GradientBoostingClassifier
# n_estimaters(決定木の数),learning_rate(学習率),max_depth(決定木のノード深さ)
gbdt_model = GradientBoostingClassifier(n_estimators=20, learning_rate=0.03, max_depth=3,random_state=0)

In [15]:
from sklearn.model_selection import cross_val_score

xgb_scores = cross_val_score(xgb_model, train_x, train_y, cv = 10)
gbdt_scores = cross_val_score(gbdt_model, train_x, train_y, cv = 10)

In [17]:
import numpy as np
np.mean(xgb_scores)

0.7882056451612903

In [18]:
np.mean(gbdt_scores)

0.7787298387096775